.input {
    background: none;
    border: 1px solid #fff;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba($color: #fff, $alpha: .4);
    display: block;
    max-width: 369px;
    width: 100%;
    margin: 7px;
    padding: 20px;
    text-align: center;
    height: 48px;
    outline: none;
    &:focus,
    &:active {
      background-image: none;
      background-color: #fff;
      color: #000;
    }
    &--checked {
        background: url('../../img/icons/checked.svg') no-repeat 95% center;
        color: #fff;
    }
    &--invalid {
        background: url('../../img/icons/attention.svg') no-repeat 98% center;
        background-color: #fff;
        color: #b40000;
    }
    &--password {
        &-active {
            font-size: 35px;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 5px;
            padding: 28px 0 12px;
        }
    }
}
