.switch {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    display: inline-block;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    &__label {
        margin-left: 55px;
    }
    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .switch__slider:before {
            background: #fff;
        }
        &:checked + .switch__slider:before {
            transform: translateX(13px);
        }

    }
    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 2px;
        right: 0;
        bottom: 0;
        background: none;
        border: 1px solid #fff;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 12px;
        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 22px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 8px;
            background: rgba($color: #fff, $alpha: .3)
        }
    }
}
