.form-wrapper {
    // background: linear-gradient(rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0.9)), url('../../img/icons/rabbit.png') no-repeat center 45px;
    background: rgba(0, 0, 0, 0.2)  url('../../img/icons/rabbit.png') no-repeat center 45px;
    box-shadow: 0px 2px 36px rgba(0,0,0,0.7);
    border-radius: 4px;
    max-width: 626px;
    height: 434px;
    margin: 0 auto;
    padding: 24px 30px;
    width: 100%;
    &:hover,
    &:active {
       // background-color:rgba(240, 240, 240, 0.1);
       background:  url('../../img/icons/rabbit.png') no-repeat center 45px, url('../../img/bg.svg');
    }
}

.form--auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.form__helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px 0 18px;
    text-align: center;
    align-items: center;
    max-width: 369px;
    width: 100%;
    margin: 12px 0 23px;
    @media screen and (max-width: 370px) {
        padding: 0;
    }
}